#footer{
    background-color: rgba(0, 0, 0,0.7);
    min-height: 30vh;
}

.links a{
    color: white;
    text-align: left;
    font-weight: 200;
}

h4{
    font-weight: 800;
}

i{
    font-size: 1.5rem;
    margin-left: 0.50rem;
    margin-top: 0.50rem;
}